.topbar-appBar {
  height: 60px;
  justify-content: center;
  background-color: #1976d2;
}

.topbar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.topbar-title {
  font-weight: 500;
}

.topbar-context {
  font-weight: 400;
  opacity: 0.9;
  text-align: right;
  margin-left: 24px;
}
